/*style colar afeto*/

/*GERAL*/
/*vermelho(#c01200)*/

body{
	background-color: #fff9ee;
}

section::selection{
	background-color: #c01200;
}

body, a{
	color: #fff;
}

section{
	width: 100%;
	display: block;
}

h3{
	font-size: 22px;
	font-weight: bold;
}

.titulo{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.titulo:after, .subtitulo:after, .colares h3:after, .criacao h3:after{
	content: "";
	display: block;
	width: 40px;
	border-bottom: 4px dotted #c01200;
	margin: 2px auto 10px;
}

.subtitulo{
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 40px;
}

.btn{
	width: 165px;
	display: block;
	clear: both;
	margin: 0 auto;
	border: 4px dotted #c01200;
	padding: 6px 24px;
	font-weight: bold;
	letter-spacing: 1px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}

.btn:hover, footer a:hover{
	border: 4px dotted #fff;
	color: #c01200;
}

.colares{
	height: 684px;
	position: relative;
	background: url("../img/bg36x684.png") repeat-x center;
	z-index: 2;
	margin-top: -36px;
}

/*MENU*/
/*
.header{
	width: 100%;
	height: 108px;
	display: block;
	position: fixed;
	background: url("../img/bgmenu.png") repeat-x center;
	margin-top: -60px;
}

.header a.grid-4{
	background: url(../img/logotxt.png) no-repeat left;
	margin-top: 16px;
	height: 70px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}
.header a.grid-4:hover{
	background: url(../img/logotxtred.png) no-repeat left;
}

.header_menu_desk{

}
.header_menu_desk ul{
    float: right;
}

.header_menu_desk ul li{
	display: inline-block;
	padding: 6px 4px;
	margin: 32px 0 0 10px;
    
    justify-content: center;
float: right;
    text-align: center;

}

.header_menu_desk ul li a{ 
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 0 6px;
	border-bottom: 4px dotted transparent;
	letter-spacing: 1px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.header_menu_desk ul li a:hover{
	border-bottom: 4px dotted #c01200;
}
.header_menu_desk ul li a.menu_ativo{
 	border-bottom: 4px dotted #c01200;
}

*/

.header{
	width: 100%;
	position: fixed;
	z-index: 5;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    transition: .3s;
    background: url("../img/bgmenu.png") repeat-x center;
}

.header a.grid-4{
	background: url(../img/logotxt.png) no-repeat left;
	height: 70px;
    margin-top: -10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}
.header a.grid-4:hover{
	background: url(../img/logotxtred.png) no-repeat left;
}

.header_menu_desk{
    margin-top: 8px;
}

.header_menu_desk ul{
    float: right;
}


.header_menu_desk ul li{
    justify-content: center;
    display: inline-block;

    text-align: center;
    margin-top: 6px;
}
.header_menu_desk ul li a{
    display: inline-block;
	font-size: 1em;
	font-weight: 700;
	padding: 0 8px;
    margin: 0 8px;
    color: #fff;
    border-bottom: 4px dotted transparent;
	letter-spacing: 1px;
    
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.header_menu_desk ul li a:hover{
    border-bottom: 4px dotted #c01200;
}
.header_menu_desk ul li a.menu_ativo{
 	border-bottom: 4px dotted #c01200;
}

.header_menu_mob{
	text-align: right;
    float: right;
    width: 70px;
    height: 73px;
    position: relative;
    z-index: 5;
    background: url("../img/respmenubg2.png") no-repeat center;
    
    -webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
    
    display: none;
    
}

.header_menu_mob.expand{
    height: 666px;
    width: 252px;
    background: url("../img/bgmenuresp2.png") repeat-x center;
}

.header_menu_mob ul{
    margin: 120px 0 0 -250px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.header_menu_mob.expand ul{
    margin: 120px 0 0 0;
    opacity: 1;
    visibility: visible;
}

.header_menu_mob ul li{
    display: block;
    width: 100%;
    float: right;
}

.header_menu_mob ul li a{
    display: block;
    float: right;
	font-size: 16px;
	font-weight: 500;
	padding: 6 20px;
    margin: 6px 10px ;
	letter-spacing: 1px;
    color: #fff;
    border: 4px dotted transparent;
    width: 232px;
}

.header_menu_mob ul li a:hover, .header_menu_mob ul li a:checked, .header_menu_mob ul li a:focus{
    border: 4px dotted #c01200;
}

.header_menu_mob ul li a span{
    opacity: 0;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.header_menu_mob ul li a:hover span{
    opacity: 1;
    color: #3bff33;
}

.header_menu_mob .burgermenu{
    float: right;
    margin: 0 auto;
    display: block;
    z-index: 5;

    color: white;
    width: 60px;

    padding: 15px 0;
    
    cursor: pointer;
    
    transition: all .4s ease;
    -webkit- transition: all .4s ease;
    -o- transition: all .4s ease;
    -moz- transition: all .4s ease;
}

.header_menu_mob .burgermenu .menubars{
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
    opacity: 1;

    transition: all .4s ease;
    -webkit- transition: all .4s ease;
    -o- transition: all .4s ease;
    -moz- transition: all .4s ease;
    
}

.expand .menubars:nth-child(1){
    -webkit-transform: translateY(9px) rotate(405deg);
    transform: translateY(9px) rotate(405deg);
}

.expand .menubars:nth-child(2){
    opacity: 0;
}

.expand .menubars:nth-child(3){
    -webkit-transform: translateY(-9px) rotate(-405deg);
    transform: translateY(-9px) rotate(-405deg);
}

.burgermenu:hover .menubars:nth-child(2){
    transition: width .1s ease;
    -webkit- transition: width .1s ease;
    -o- transition: width .1s ease;
    -moz- transition: width .1s ease;
    width: 18px;
}

.expand .burgermenu:hover .menubars{
    width: 30px;
}



/*INTRODUÇÃO*/
.intro{
	width: 100%;
	position: relative;
	margin-top: 60px;
	background: url("../img/bgintro3.jpg") no-repeat center;
	background-size: cover;
	height: 636px;
	text-align: center;
}

.intro div h1, .intro div p, .intro div a{
	margin: 0 auto;
	text-align: center;
}

.intro div h1.titulo{
	-webkit-text-shadow: 0px 0px 3px rgba(148,15,0);
	-moz-text-shadow: 0px 0px 3px rgba(148,15,0);
	text-shadow: 0px 0px 3px rgba(148,15,0);
}

.intro .container div{
	position: relative;
	top: 395px;
}

.intro div p, .galeria p{
	font-size: 18px;
	margin-bottom: 10px;
}

/*COLARES*/

.colares .container{
	padding: 50px 0;
	text-align: center;
}

.colares img{
	height: 300px;
    width: 220px;
	padding: 1px;
	border: 4px dotted #c01200;
	border-radius: 110px;
}

.colares h3{
	margin: 8px auto;
}

.colares h3:after{
	margin: 2px auto 8px;
}

.colares p{
	font-size: 18px;
	line-height: 20px;
}

.colares .container a.btn{
	position: relative;
    top: 70px;
}

/*CRIAÇÃO*/

.criacao {
	max-width: 100%;
	color: black;
	height: 654px;
	clear: both;
}
.criacao .container{
	padding: 46px 0;
	height: 654px;
}

.criacao-imagem{
	float: right;
	max-width: 40%;
	position: relative;
	margin-top: -800px;
	overflow: hidden;
	z-index: -1;
}

.criacao-imagem img{
	border-radius: 50%;
	width: 900px;
	padding: 1px;
	border: 4px dotted #c01200;
}

.criacao h3:after{
	margin: 2px 0px 8px;
}

.criacao h4{
	margin: 24px 0;
	font-size: 18px;
	font-weight: 600;
}

.criacao ul li{
   margin: 24px 0;
   padding: 0 50px 0 30px;
   background: url("../img/coracaolista.png") no-repeat center left;
}

.criacao-btn{
	width: 100%;
	margin: 60px auto;
	text-align: center;
}

.criacao-btn .btn{
	color: black;
}

.criacao-btn .btn:hover, .contato button:hover{
	border: 4px dotted black;
	color: #c01200;
}

/*GALERIA*/
.galeria{
	clear: both;
	height: 684px;
	position: relative;
	background: url("../img/bg36x684.png") repeat-x center;
	z-index: 4;
	text-align: center;
	top: -140px;
}

.galeria .container{
	padding: 50px 0;
	height: 684px;
}

.galeria ul li div{
	border: 4px dotted #c01200;
	height: 340px;
	margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    max-height: 340px;
    max-width: 580px;
    display: flex;
    align-items: center;
    float: left;
}

.galeria ul li div{

}

.galeria ul li div img{
    max-width: 100%;
}

.galeria .call{
	position: relative;
	top: 25px;
}

/*CONTATO*/
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

.contato{
	color: black;
	position: relative;
	margin: -100px auto 50px;
}

.form_contato input, .form_contato label, .form_contato button, .form_contato textarea{
	display: block;
	outline: none;
	background: none;
}

.form_contato input, .form_contato textarea{
	border: 4px dotted #c01200;
	padding: 6px;
	margin-bottom: 20px;
}

.form_contato label{
	font-size: 14px;
	font-weight: bold;
}

.form_contato input{
	width: 320px;
}

.form_contato textarea{
	width: 430px;
	height: 150px;
	line-height: 18px;
}

.contato .outros_contatos{
	padding-left: 20px; 
}

.outros_contatos a{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	height: 50px;
}

.outros_contatos h4, .outros_contatos img{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.outros_contatos h4{
	color: black;
	width: 300px;
	font-weight: bold;
	float: left;
	border-bottom: 4px dotted transparent;
}

.outros_contatos img{
	float: left;
	height: 45px;
	width: 65px;
	padding: 0 10px;
}

.outros_contatos a:hover img, .outros_contatos div:hover img{
	height: 55px;
	width: 75px;
}

.outros_contatos a:hover h4, .outros_contatos div:hover h4{
	border-bottom: 4px dotted #c01200;
}

.outros_contatos div{
	display: block;
	width: 100%;
}

.outros_contatos span{
	letter-spacing: 1.5px;
}

/*FOOTER*/
footer{
	display: block;
	position: relative;
	background: url(../img/bgfooter.png);
	height: 216px;
	width: 100%;
    padding: 50px 0;
}

footer a{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;;
    text-align: center;
    width: 150px;
    border: 4px dotted #c01200;
    padding: 4px;
    margin: 5px;
    
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

footer img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer .grid-8{
    float: none;
    text-align: center;
    margin: 0 auto;
}

footer .grid-4{

}

/*RESPONSIVO*/
@media only screen and (max-width: 1279px){
    .container2{
        width: 100%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container{
        width: 100%;
    }
    
    .colares li img{
        height: 220px;
        width: 190px;
    }
    .colares li.grid-4{
        margin: 0px;
        width: 25%;
        float: left;
    }
    
    .galeria ul li div.grid-10{
        width: 58%;
    }
    .galeria ul li div.grid-6{
        width: 36%;
    }
    
    .contato .outros_contatos{
        padding-left: 0;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 767px) {
    .container{
        width: 100%;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
    }
    
    .header{
        margin-top: 0;
        background: none;
        align-items: baseline;
    }
    .header a img{
        display: none;
    }
    
    .header_menu_mob{
        display: block!important;
    }
    .header_menu_desk{
        display: none;
    }

    .intro{
        margin-top: 0;
    }
    
    .titulo{
        font-size: 38px;
        line-height: 38px;
    }
    
    .colares .container{
        padding: 30px 0;
        text-align: center;
    }

    .colares .container a.btn{
        position: relative;
        top: 0px;
    }

    .colares li.grid-4{
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }

    .colares li img{
        height: 170px;
        width: 170px;
    }

    .criacao-imagem img{
        opacity: .5;
    }
    
    .criacao .grid-10{
        padding: 0 30px;
    }
    
    .criacao ul li{
        font-size: 0.8em;
        padding: 0 0 0 28px;
        margin: 18px 0px;
    }
    
    .galeria ul li div{
        width: 100%;
        margin: 0 auto;
    }
    .galeria ul li div.grid-6{
        display: none;
    }
    
    .form_contato input, .form_contato label, .form_contato textarea{
        width: 90%;
        margin: 6px auto;
    }
    .form_contato button{
        width: 200px;
        margin: 20px auto;
    }
    
    .criacao-btn {
        margin: 10px auto;
    }
    .criacao ul li{

    }
    footer a{
        width: calc(50% - 10px);
        float: left;
    }

}

.menu_scroll{
    height: 60px;
    background-color: rgba(0, 71, 120, 0.7);
}

/*RESPONSIVE SLIDES*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

